<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>

<body>

<h1>Product List</h1>

<a href="/product/add">+ Add Product</a>

<br><br>

<form method="get"
      th:action="@{/product/list}">

    <label>Search</label>

    <input type="text"
           name="keyword"
           th:value="${keyword}"
           placeholder="Search by ID or name">

    <label>Category</label>

    <input type="text"
           name="category"
           th:value="${category}"
           placeholder="Filter by category">

    <button type="submit">
        Search
    </button>

    <a th:href="@{/product/list}">
        Clear
    </a>

</form>

<br><br>

<p th:if="${products.isEmpty()}">
    No Products Available
</p>

<table border="1"
       th:unless="${products.isEmpty()}">

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Action</th>
    </tr>

    <tr th:each="product : ${products}">

        <th th:text="${product.id}">1</th>
        <th th:text="${product.name}">Shirt</th>
        <th th:text="${product.category}">Men</th>
        <th th:text="${product.price}">999.99</th>
        <th th:text="${product.stock}">50</th>

        <th>
            <a th:href="@{'/product/edit/' + ${product.id}}"
               style="padding-right: 10px">
                Edit
            </a>

            <a th:href="@{'/product/delete/' + ${product.id}}"
               onclick="return confirm('Are you sure you want to delete this product?')">
                Delete
            </a>
        </th>

    </tr>

</table>

</body>
</html>