<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
    <h1 style="color: red"> Contact Me</h1>

<form th:action = "@{/submit-form}" method = "POST">
    <label for="fname">Student Name</label>
    <br>
    <input type="text" id="fname" name="name" placeholder="Your first name.." required>
    <br>

    <label for="email">Email</label>
    </br>
    <input type = "email" id = "email" name = "email" placeholder="Your email.." required>
    </br>
    <label for="pass">Password</label>
    <br>
    <input type = "password" id = "pass" name = "password" placeholder="Your password.." required>
    </br>
    <br>
    <label for="confirmpassword">Confirm Password</label> </br>
    <input type = "password" id = "confirmpassword" name = "confirmPassword" placeholder="Confirm your password.." required>
    </br>
    <button type = "submit" style="color: red">Submit </button>

</form>
</body>
</html>