<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Form</title>
</head>
<body>

<h1 style="text-align: center">Student Form</h1>

<form th:action = "@{/submit}" method = "POST">
<label for="name"> Student Name</label><br>
<input type="text" id="name" name="name" placeholder="Enter your name.." required><br><br>

<label for="id">Student ID</label><br>
<input type="text" id="id" name="id" placeholder="Enter your ID.." required><br><br>

<label>Gender</label><br>
<input type="radio" name="gender" value="Male"> Male
<input type="radio" name="gender" value="Female"> Female
<input type="radio" name="gender" value="Other"> Other
<br><br>

<label for="department">Department</label><br>
<select id="department" name="department">
    <option>CSE</option>
    <option>EEE</option>
    <option>BBA</option>
    <option>English</option>
</select>
<br><br>

<label>Skills</label><br>
<input type="checkbox" name="skill" value="HTML"> HTML
<input type="checkbox" name="skill" value="CSS"> CSS
<input type="checkbox" name="skill" value="JavaScript"> JavaScript
<br><br>

<label for="email">Email</label><br>
<input type="email" id="email" name="email" placeholder="Enter your email"><br><br>

<label for="phone">Phone</label><br>
<input type="text" id="phone" name="phone" placeholder="Enter your phone number"><br><br>

<label for="address">Address</label><br>
<textarea id="address" name="address" rows="4" cols="30" placeholder="Enter your address"></textarea>
<br><br>

<input type="submit" value="Submit">
<input type="reset" value="Reset">
</form>

</body>
</html>